body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: #6c7279;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: white;
    list-style-type: none;
    float: left;
    padding: 29px;
}
/* ----------HEADER----------- */
header {
    background-image: url(../img/Layer\ 34@1X.png);
    height: 100vh;
}
ul {
    text-transform: uppercase;
    margin-left: 35%;
}
h1 {
    font-size: 55px;
    color: white;
    font-family: ﻿OpenSans-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    text-align: center;
    text-transform: uppercase;
}
.header__text {
    font-size: 22px;
    text-align: center;
}
hr {
    width: 70%;
}
.header__btn {
    height: 46px;
    width: 200px;
    margin-left: 41%;
    color: white;
    background-color: red;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 55px;
}
.header__logo {
    padding: 39px 0px 0px 202px;
}
/* ------------MAIN------------- */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 70vh;  
}
.container__item {
    width: 400px;
    height: 250px;
    padding: 25px;
    text-align: center;   
}
.container__top {
   display:flex;
   justify-content: center;
}
.container__bottom {
    display: flex;
    justify-content: center;
}
.container__faces {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70vh; 
}
.row {
    width: 300px;
    height: 250px;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    }
span {
    color: red;
} 
.container__lower{
    display: flex;
    flex-direction:column;
    justify-content: center; 
    width: 100%;
    height: 50vh;     
}
.ready{
    color:#2D3033;
    text-align: center;
    font-size: 28px;
}
.spans{
    color:#2D3033;
    text-align: center;
    margin:25px;
    font-size: 16px;   
}
.download{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#E84545;
    width: 281px;
    height: 47px;
    text-align: center;
    margin-left:820px;
    padding: 20px;
}
.footer__top{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 1901px;
    height: 251px;
    background-color:#3A3E64;
}
.footer__end{
    width: 1901px;
    height: 95px;
    background-color:#313454;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



